
.form-control {
    padding: 1.6rem;
    background-color: #fff;
    max-width: 40rem;
    margin: 0 auto;
    
    
      
}




article {
    text-align: center;
}


label {
    font-size: 1.4rem;
    margin-bottom: .8rem;
}

input {
    width: 100%;
    padding: .8rem 1.6rem;
    background-color: none;
    border: solid .04rem var(--input);
    margin-bottom: 1.6rem;
}

input[type=radio], input[type=checkbox] {
    width: auto;
    margin: 0;
}

select {
    margin-bottom: 1.6rem;
    max-width: 100%;
    padding: .8rem 1.6rem;
    background-color: none;
    border: solid .04rem var(--input);
    margin-bottom: 1.6rem;
}

fieldset{
	border: .04rem solid var(--input);
	margin-bottom: 1.6rem;
    display: flex;
    align-items: center;
    padding: 1.6rem;	
}


fieldset label {
    margin: 0 .8rem 0;
}


textarea {
    height: 8rem;
    resize: vertical;
    width: 100%;
    margin-bottom: 1.6rem;
    border: solid .04rem var(--input);

}

